<div *ngIf="user">
  <h1>Details {{ user.surename }} </h1>
  <button pButton type="button" (click)="save()" label="Save changes" class="ui-button-success"></button>
  <button pButton type="button" (click)="delete(user)" label="Delete User"  class="ui-button-danger"></button>

  <p><button (click)="goBack()">go back</button></p>
  <table>
    <tr>
      <th align="left" width="10px">Details</th>
      <th></th>
    </tr>
    <tr>
      <td>
        First Name
      </td>
      <td>
        <div class="ui-inputgroup">
          <input type="text" size="20" pInputText [(ngModel)]="user.givenname" placeholder="First Name">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Last Name
      </td>
      <td>
        <div class="ui-inputgroup">
          <input type="text" size="20" pInputText [(ngModel)]="user.surename" placeholder="Last Name">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Address
      </td>
      <td>
        <div class="ui-inputgroup">
          <input type="text" size="40" pInputText [(ngModel)]="user.address" placeholder="Address">
        </div>
      </td>
    </tr>
  </table>
</div>
<br>
<div *ngIf="user">
  <p-pickList [source]="availableGroups" [target]="user.squads" [showSourceControls]="false" [showTargetControls]="false"
              sourceHeader="Available Groups" targetHeader="Member of" [responsive]="true" >
    <ng-template let-group pTemplate="item">
      <div class="ui-helper-clearfix">
        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{group.name}}</div>
      </div>
    </ng-template>
  </p-pickList>
</div>

