<div *ngIf="address">
  <h2>Address {{ address.address }}</h2>
</div>

<p><button (click)="goBack()">go back</button></p>

<div *ngIf="address">
  <table *ngIf="address" width="100%">
    <tr>
      <th align="right" width="20%">Details</th>
      <th></th>
    </tr>
    <tr>
      <td align=right>Regular balance</td>
      <td>{{address.regular/100000000 | number:'0.0-10'}}</td>
    </tr>
    <tr>
      <td align="right">Generating balance</td>
      <td>{{address.generating/100000000 | number:'0.0-4'}}</td>
    </tr>
    <tr>
      <td align="right">Available balance</td>
      <td>{{address.available/100000000 | number:'0.0-10'}}</td>
    </tr>
    <tr>
      <td align="right">Effective balance</td>
      <td>{{address.effective/100000000 | number:'0.0-4'}}</td>
    </tr>
  </table>
</div>

<div *ngIf="transactions">
  <p-dataTable [value]="transactions[0]" [rows]="25" [paginator]="true" sortField="height"  [sortOrder]="-1" [pageLinks]="2" [responsive]="true">
    <p-header>List of transactions</p-header>
    <p-footer>There are 100 transactions</p-footer>
    <p-column field="id" header="id" [sortable]="true" [style]="{'width':'150px'}">
      <ng-template let-col let-row='rowData' pTemplate type="body">
        <a routerLink="/transaction/{{row[col.field]}}">{{row[col.field] | slice:0:8}}...</a>
      </ng-template>
    </p-column>
    <p-column field="type" header="type" [style]="{'width':'20px'}"></p-column>
    <p-column field="timestamp" header="Date" [sortable]="true" [style]="{'width':'100px'}">
      <ng-template let-col let-row='rowData' pTemplate type="body">
        {{row[col.field] | date:'dd. MMMM yyyy @ HH:mm'}}
      </ng-template>
    </p-column>
    <p-column field="sender" header="sender"[style]="{'width':'150px'}">
      <ng-template let-col let-row='rowData' pTemplate type="body">
        <a routerLink="/addresses/detail/{{row[col.field]}}" (click)="goTo(row[col.field])">{{row[col.field] | slice:0:8}}...</a>
      </ng-template>
    </p-column>
    <p-column field="" header=""[style]="{'width':'3%'}">
      <ng-template let-col let-row='rowData' pTemplate type="body">
        &#x21E8;
      </ng-template>
    </p-column>
    <p-column field="recipient" header="recipient"[style]="{'width':'150px', 'text-align': 'left'}">
      <ng-template let-col let-row='rowData' pTemplate type="body">
        <a routerLink="/addresses/detail/{{row[col.field]}}" (click)="goTo(row[col.field])">{{row[col.field] | slice:0:8}}...</a>
      </ng-template>
    </p-column>
    <p-column field="amount" header="amount"[style]="{'width':'100px', 'text-align': 'left'}"></p-column>
  </p-dataTable>
</div>
<br>


