<div class="ui-g">
  <div class="ui-g-6">
    <div *ngIf="groups">
      <h3 *ngIf="selectedGroup">Group Statistics {{selectedGroup ? selectedGroup.name : 'none'}}</h3>
      <p-dropdown [options]="groups" [(ngModel)]="selectedGroup" (onChange)="refresh()" [style]="{'width':'200px'}" placeholder="Select a Group" optionLabel="name"></p-dropdown>
    </div>
    <div *ngIf="assetDesc">
      <h3 *ngIf="selectedAsset">Transfered Assets {{selectedAsset ? selectedAsset.name : 'none'}}</h3>
      <p-dropdown [options]="assetDesc" [(ngModel)]="selectedAsset" [style]="{'width':'200px'}" placeholder="Select a Asset" optionLabel="name"></p-dropdown>
    </div>
  </div>
  <div class="ui-g-6">
    <h3>Team members</h3>
    <div *ngIf="users">
      <div *ngFor="let user of users;">
        <li><a *ngIf="selectedGroup.name "routerLink="/users/detail/{{user.id}}"> {{user.givenname}} {{user.surename}}</a></li>
      </div>
    </div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-6">
    <h4>Transactions</h4>
    <p-chart type="radar" [data]="transactionTypes"></p-chart>
  </div>
  <div class="ui-g-6">
    <h4>Waves</h4>
    <p-chart type="pie" [data]="data"></p-chart>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-6">
    <h4 *ngIf="selectedAsset">{{selectedAsset ? selectedAsset.name : 'none'}}</h4>
    <p-chart type="polarArea" [data]="data2"></p-chart>
  </div>
  <div class="ui-g-6">
    <h4>Transaction Volume</h4>
    <p-chart type="bar" [data]="data3" [options]="options"></p-chart>
  </div>
</div>




