
<p-header showHeader="false">

  <p-menubar [model]="items">
    <input #searchTerm placeholder="Search" type="text" pInputText>
    <button routerLink="/search/{{searchTerm.value}}" pButton (click)="searchTerm.value=''" label="Search" icon="fa-search" ></button>
  </p-menubar>

</p-header>
<p-panel>
  <p-header>
    {{ title }} <img src={{logo}} width="300" alt="Waves Logo" align="right" width="100px">
  </p-header>
  <div class="ui">
    <router-outlet></router-outlet>
  </div>
  <div class="ui">
    <app-messages></app-messages>
  </div>


  <p-footer>

    <div class="ui-g">
      <div class="ui-g-4"></div>
      <div class="ui-g-4">
        <footer> &copy; Copyright 2018, <br> Current height:{{height}}</footer>
      </div>
      <div class="ui-g-4"></div>
    </div>


  </p-footer>
</p-panel>
