<input type="file" (change)="onFileChange($event)" multiple="false" />

<table *ngIf="users">
  <tr>
    <td><h3>Selected File</h3></td>
  </tr>
  <tr *ngFor="let user of data">
    <td>{{user[0]}}</td>
    <td>{{user[1]}}</td>
    <td>{{user[2]}}</td>
    <td>{{user[3]}}</td>
    <td>{{user[4]}}</td>
  </tr>
</table>

<div *ngIf="users">
  <p-button (onClick)="addNewUser()" label="Import"></p-button>
</div>

<table *ngIf="messages">
  <tr *ngFor="let message of messages">
    <p>{{message}}</p>
  </tr>
</table>
