<h1>HOME</h1>
<h2>General Information</h2>
<div name = "general information">
  <table>
    <tr>
      <td>Current height:</td>
      <td>{{height}}</td>
    </tr>
    <tr>
      <td>Version: </td>
      <td>Waves v0.10.3</td>
    </tr>
  </table>
  <br/>
</div>

<h2>Latest Blocks</h2>
<div name = "top">
  <p-dataTable [value]="blocks" [rows]="5" sortField="height"  [sortOrder]="-1" [responsive]="true">
    <p-header>List of Blocks</p-header>
    <p-footer>The last 5 Blocks</p-footer>
    <p-column field="height" header="height" [sortable]="true" [style]="{'width':'100px', 'text-align': 'center'}">
      <ng-template let-row="rowData" pTemplate type="body">
        <a routerLink="/detail/{{row.height}}">{{row.height}}</a>
      </ng-template>
    </p-column>
    <p-column field="timestamp" header="timestamp" [style]="{'width':'150px', 'text-align': 'center'}"></p-column>
    <p-column field="generator" header="generator"></p-column>
    <p-column field="blocksize" header="blocksize"[style]="{'width':'100px', 'text-align': 'center'}"></p-column>

  </p-dataTable>
  <br/>
  <b routerLink="/blocks/" style="margin: 25px" style="color:black">See more</b>
</div>

<h2>Introduction to Digital Currencies</h2>
<div name = "Introduction">
  <p>Like paper money and gold before it, bitcoin and ether allow parties to
    exchange value. Unlike their predecessors, they are digital and
    decentralized. For the first time in history, people can exchange value
    without intermediaries which translates to greater control of funds and
    lower fees.</p>
  <li>
    <a target="_blank" [href]="'https://www.kreditkarte.net/kryptowaehrungen/'">What are digital currencies</a>
  </li>
  <li>
    <a target="_blank" [href]="'https://derstandard.at/2000071879884/Die-ersten-Schritte-zu-Bitcoin-und-Co-Was-es-zu'">First steps</a>
  </li>
  <li>
    <a target="_blank" [href]="'https://beta.wavesplatform.com/'">Create a Wallet</a>
  </li>
</div>

<h2>Statistics</h2>
<div name = "Statistics">
</div>
