<p-dialog header="Add new group" [(visible)]="display" [modal]="true" [responsive]="true" [width]="500" [minWidth]="300">
<span>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
  <div class="ui-grid-row">
    <div class="ui-grid-col-4">
      Groupname *:
    </div>
    <div class="ui-grid-col-10">
      <input #groupname placeholder="Groupname"/>
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-4">
      Currency *:
    </div>
    <div class="ui-grid-col-10">
      <input #currency placeholder="currency"/>
    </div>
  </div>
</div>

  </span>
  <p-footer>
    <button pButton type="button" label="Ok" (click)="add(groupname.value, currency.value); groupname.value=''; currency.value=''"></button>
    <button type="button" pButton icon="pi pi-close" (click)="display=false" label="Cancel"></button>
  </p-footer>
</p-dialog>


<button pButton type="text" (click)="showDialog()" icon="fa-plus-square" label="Add new group" (click)="add(groupname.value, currency.value); groupname.value=''; currency.value=''"></button>
<button pButton type="button" (click)="toggle()" style="margin-bottom:10px" label="Toggle view" icon="fa-list"></button>

<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<p-growl [value]="msgs"></p-growl>


<div *ngIf="groups">
<p-dataTable [value]="groups" [loading]="loading" [rows]="25" [paginator]="true" sortField="groupname" [sortOrder]="-1" [responsive]="true" [stacked]="stacked" [globalFilter]="gb" #dt>

  <p-column styleClass="col-button" [style]="{'width':'50px'}">
    <ng-template let-row="rowData" pTemplate="body">
      <button routerLink="/groups/detail/{{row.id}}" type="button" pButton (click)="selectGroup()" icon="fa-edit"></button>
    </ng-template>
  </p-column>
  <p-column field="name" header="Groupname" [sortable]="true"></p-column>
  <p-column field="currency" header="Currency" [sortable]="true"></p-column>
</p-dataTable>
</div>
