<div *ngIf="transaction">
  <h2>Details zu Transaction {{ transaction.id }}</h2>
  <p><button (click)="goBack()">go back</button></p>
  <table width="100%">
    <tr>
      <th align="right">Details</th>
      <th></th>
    </tr>
    <tr>
      <td align=right>Transaction-ID</td>
      <td>{{transaction.id}}</td>
    </tr>
    <tr>
      <td align="right">Type</td>
      <td>{{transaction.type}}</td>
    </tr>
    <tr>
      <td align="right">Sender</td>
      <td>{{transaction.sender}}</td>
    </tr>
    <tr>
      <td align="right">Sender Public-Key</td>
      <td>{{transaction.senderPublicKey}}</td>
    </tr>
    <tr> <!--ng-hide="'{{transaction.recipient}}'==''"-->
      <td align="right">Recipient</td>
      <td>{{transaction.recipient}}</td>
    </tr>
    <tr>
      <td align="right">Fee</td>
      <td>{{transaction.fee /100000000 | number:'0.0-10'}}</td>
    </tr>
    <tr>
      <td align="right">FeeAsset</td>
      <td>{{transaction.feeAsset}}</td>
    </tr>
    <tr>
      <td align="right">Signature</td>
      <td>{{transaction.signature}}</td>
    </tr>
    <tr>
      <td align="right">Amount</td>
      <td>{{transaction.amount /100000000 | number:'0.0-10'}}</td>
    </tr>
    <tr>
      <td align="right">Asset-ID</td>
      <td>
        <a routerLink="/asset/{{transaction.assetId}}">{{transaction.assetId}}</a>
      </td>
    </tr>
    <tr>
      <td align="right">Timestamp</td>
      <td>{{transaction.timestamp | date:'dd. MMMM yyyy @ HH:mm'}}</td>
    </tr>
    <tr>
      <td align="right">Attachment</td>
      <td>{{transaction.attachment}}</td>
    </tr>
  </table>
</div>


