<h2 *ngIf="block">Block {{ block.height }}</h2>
<p><button (click)="goBack()">go back</button></p>
<table *ngIf="block" width="100%">
  <tr>
    <th align="right">Details</th>
    <th></th>
  </tr>
  <tr>
    <td align="right">Height</td>
    <td>
      <button (click)="prev()">prev</button>
      {{block.height}}
      <button (click)="next()">next</button>
    </td>
  </tr>
  <tr>
    <td align=right>Version</td>
    <td>{{block.version}}</td>
  </tr>
  <tr>
    <td align="right">Timestamp</td>
    <td>{{block.timestamp | date:'dd. MMMM yyyy @ HH:mm'}}</td>
  </tr>
  <tr>
    <td align="right">Generator</td>
    <td>
      <a routerLink="/addresses/detail/{{block.generator}}">{{block.generator}}</a>
    </td>
  </tr>
  <tr>
    <td align="right">Signature</td>
    <td>{{block.signature}}</td>
  </tr>
  <tr>
    <td align="right">Size</td>
    <td>{{block.blocksize.toString()}}</td>
  </tr>
  <tr>
    <td align="right">Fee</td>
    <td>{{block.fee/100000000}}</td>
  </tr>
  <tr>
    <td align="right">TransactionCount</td>
    <td>{{block.transactionCount}}</td>
  </tr>
  <tr>
    <td align="right">Reference</td>
    <td>{{block.reference}}</td>
  </tr>
</table>

<div *ngIf="block">
  <p-dataTable [value]="block.transactions" sortField="type" rowGroupMode="subheader" groupField="type" expandableRowGroups="true"
               [sortableRowGroup]="false">
    <p-header>Transactions</p-header>
    <ng-template pTemplate="rowgroupheader" let-rowData>Type: {{rowData['type'] }}</ng-template>
    <p-column field="id" header="ID">
      <ng-template let-col let-transaction="rowData" pTemplate="body">
        <span><a routerLink="/transaction/{{transaction[col.field]}}">{{transaction[col.field]| slice:0:8}}...</a></span>
      </ng-template>
    </p-column>
    <p-column field="timestamp" header="Timestamp">
      <ng-template let-row="rowData" pTemplate type="body">
        {{row.timestamp | date:'dd. MMMM yyyy @ HH:mm'}}
      </ng-template>
    </p-column>
    <p-column field="sender" header="Sender">
      <ng-template let-col let-transaction="rowData" pTemplate="body">
        <span>{{transaction[col.field]| slice:0:8}}...</span>
      </ng-template>
    </p-column>
    <p-column field="recipient" header="Recipient">
      <ng-template let-col let-transaction="rowData" pTemplate="body">
        <span *ngIf="transaction[col.field]">{{transaction[col.field]| slice:0:8}}...</span>
      </ng-template>
    </p-column>
    <p-column field="amount" header="Amount">
      <ng-template let-col let-transaction="rowData" pTemplate="body">
        <span>{{transaction[col.field]/100000000 | number:'0.0-10'}}</span>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
<br>
