<h2 *ngIf="block">Details zu Block {{ block.height }}</h2>
<p><button (click)="goBack()">go back</button></p>
<table *ngIf="block" width="100%">
  <tr>
    <th align="right">Details</th>
    <th></th>
  </tr>
  <tr>
    <td align="right">Height</td>
    <td>
      <button (click)="prev()">prev</button>
      {{block.height}}
      <button (click)="next()">next</button>
    </td>

  </tr>
  <tr>
    <td align=right>Version</td>
    <td>{{block.version}}</td>
  </tr>
  <tr>
    <td align="right">Timestamp</td>
    <td>{{block.timestamp | date:'dd. MMMM yyyy @ HH:mm'}}</td>
  </tr>
  <tr>
    <td align="right">Generator</td>
    <td>
      <a routerLink="/addresses/detail/{{block.generator}}">{{block.generator}}</a>
    </td>
  </tr>
  <tr>
    <td align="right">Signature</td>
    <td>{{block.signature}}</td>
  </tr>
  <tr>
    <td align="right">Size</td>
    <td>{{block.blocksize.toString()}}</td>
  </tr>
  <tr>
    <td align="right">Fee</td>
    <td>{{block.fee}}</td>
  </tr>
  <tr>
    <td align="right">TransactionCount</td>
    <td>{{block.transactionCount}}</td>
  </tr>
  <tr>
    <td align="right">Reference</td>
    <td>{{block.reference}}</td>
  </tr>
</table>

<br>
<div *ngIf="block" class="transactions">
<p-panel *ngFor="let transaction of block.transactions; index as i" header="Transaction {{i+1}} of {{block.transactionCount}}" [toggleable]="true" [collapsed]="true" [style]="{'margin-bottom':'0px', 'width':'100%'}">

  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:10px;display:inline-block;margin-top:2px">Sender: {{transaction.sender}}</span><br>
      <span class="ui-panel-title" style="font-size:10px;display:inline-block;margin-top:2px"><b>Recipient:</b> {{transaction.recipient}}</span>
    </div>
  </p-header>

  <table class="transaction">
    <tr>
      <th align="right">Details</th>
      <th></th>
    </tr>
    <tr>
      <td align=right>Type</td>
      <td>{{transaction.type}}</td>
    </tr>
    <tr>
      <td align="right">*** Test-Column for Transaction-Search ***</td>
      <td>
        <a routerLink="/transaction/{{transaction.id}}">{{transaction.id}}</a>
      </td>
    </tr>
    <tr>
      <td align="right">Id</td>
      <td>{{transaction.id}}</td>
    </tr>
    <tr>
      <td align="right">Sender</td>
      <td>{{transaction.sender}}</td>
    </tr>
    <tr>
      <td align="right">SenderPublicKey</td>
      <td>{{transaction.senderPublicKey}}</td>
    </tr>
    <tr>
      <td align="right">Fee</td>
      <td>{{transaction.fee}}</td>
    </tr>
    <tr>
      <td align="right">Timestamp</td>
      <td>{{transaction.timestamp | date:'dd. MMMM yyyy @ HH:mm'}}</td>
    </tr>
    <tr>
      <td align="right">signature</td>
      <td>{{transaction.signature}}</td>
    </tr>
    <tr>
      <td align="right">recipient</td>
      <td>{{transaction.recipient}}</td>
    </tr>
    <tr>
      <td align="right">assetId</td>
      <td>
      <a routerLink="/asset/{{transaction.assetId}}">{{transaction.assetId}}</a>
      </td>
    </tr>
    <tr>
      <td align="right">amount</td>
      <td>{{transaction.amount}}</td>
    </tr>
    <tr>
      <td align="right">feeAsset</td>
      <td>{{transaction.feeAsset}}</td>
    </tr>
    <tr>
      <td align="right">attachment</td>
      <td>{{transaction.attachment}}</td>
    </tr>
  </table>
</p-panel>
</div>



